@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  user-select: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  margin-top: 80px;
  position: relative;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
