footer {
  position: absolute;
  display: inline-block;
  bottom: -50px;
  height: 50px;
  z-index: 99;
  width: 100%;
  background-color: white;
  border-top: 1px solid transparent;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.124);
}
footer div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
footer .fa-brands {
  display: inline-block;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 20px;
}
footer .fa-brands:hover {
  color: #f39220;
}
footer span {
  color: #555;
  font-size: 15px;
}
.footer-logo {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

/* Responsive Layout */
@media (max-width: 767px) {
  footer {
    height: 30px;
    bottom: -30px;
  }
  footer .fa-brands {
    font-size: 15px;
  }
  footer span {
    font-size: 12px;
  }
  .footer-logo {
    width: 13px;
    height: 13px;
  }
}
