footer {
  position: absolute;
  display: inline-block;
  bottom: -50px;
  height: 50px;
  z-index: 99;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.124);
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
footer .fa-brands {
  display: inline-block;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 20px;
}
footer .fa-brands:hover {
  color: #f39220;
}
footer span {
  color: #555;
  font-size: 15px;
}
.footer-logo {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

/* Responsive Layout */
@media (max-width: 767px) {
  footer div {
    margin-top: 3px;
  }

  footer {
    height: 30px;
    bottom: -50px;
  }
  footer .fa-brands {
    font-size: 15px;
  }
  footer span {
    font-size: 12px;
  }
  .footer-logo {
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 1536px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 640px) {
}
@media (max-width: 640px) {
}
