footer {
  position: absolute;
  position: fixed;
  bottom: 30px;
  width: 100%;
  background-color: white;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .fa-brands {
  display: inline-block;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 20px;
}
footer .fa-brands:hover {
  color: #f39220;
}
footer span {
  color: #555;
  font-size: 15px;
}
.footer-logo {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}
